* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    background-color: gold;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar -content-"
    ;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;   
    grid-area: sidebar;
    background-color: green; 
    gap: 20px;
}

#topbar {
    grid-area: topbar;
    background-color: greenyellow;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#topbar > .item-1,
#topbar > .item-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: -content-;
    background-color: aqua;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: blueviolet;
}

.side-container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr;
    background-color: aquamarine;
}